{% extends 'base.html.twig' %}

{% block title %}
    Connexion
{% endblock %}

{% block body %}

    <a href="{{ path("app_homepage") }}">Home</a>

    <h1>{{ title }}</h1>

    <form>
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Mot de passe">
        <input type="submit" value="Se connecter">
    </form>
    <a href="{{ path("app_inscription") }}">Pas encore inscrit ?</a>

{% endblock %}