{% extends 'base.html.twig' %}

{% block title %}
    Inscription
{% endblock %}

{% block body %}

    <a href="{{ path("home") }}">Home</a>

    <h1>{{ title }}</h1>

    <form>
        <input type="email" placeholder="Email">
        <input type="text" placeholder="Prénom">
        <input type="text" placeholder="Nom">
        <input type="password" placeholder="Mot de passe">
        <input type="submit" value="S'inscrire">
    </form>
    <a href="{{ path("app_login") }}">Déjà inscrit ? Connectez-vous</a>

{% endblock %}