{% extends 'base.html.twig' %}

{% block title %}
    Edit
{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-outline-primary">Modifier</button>
        {{ form_end(form) }}
    </div>

{% endblock %}

