{% extends 'base.html.twig' %}

{% block title %}
    Edit
{% endblock %}

{% block body %}

    <div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3">Modifier</button>
        <a class="btn btn-outline-danger mt-3" href="{{ path("home") }}">Annuler</a>
        {{ form_end(form) }}
    </div>

{% endblock %}

