{% extends 'base.html.twig' %}

{% block title %}
    Home
{% endblock %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn btn-outline-primary">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}



