{% extends 'base.html.twig' %}

{% block title %}
    Answer Create
{% endblock %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary mt-3">Envoyer</button>
    {{ form_end(form) }}
{% endblock %}



